<!-- Footer -->
<div class=\"wrapper row4 bgded overlay\" style=\"background-image:url('images/rochester1 cropped.jpeg');\">
  <footer id=\"footer\" class=\"hoc clear\">
      <div class=\"center\">
          <div class=\"center\">
          <h3 class=\"heading\">Tom Pickren.io</h3>
              <br>
          <ul class=\"center\" style=\"list-style-type:none; margin-right: 50px;\">
              <li><i class=\"fa fa-facebook\"></i></a></li>
              <li><i class=\"fa fa-twitter\"></i></a></li>
              <li><i class=\"fa fa-linkedin\"></i></a></li>
              <li><i class=\"fa fa-github\"></i></a></li>
          </ul>
          </div>
    </div>
  </footer>
</div>

<div class=\"wrapper row5\">
  <div id=\"copyright\" class=\"hoc clear\">
    <p class=\"center\">Copyright &copy; 2018 - All Rights Reserved sdfjhaslkdf</p>
  </div>
</div>

<a id=\"backtotop\" href=\"#top\"><i class=\"fa fa-chevron-up\"></i></a> <!-- up to top of page arrow -->