* {
    margin: 0;
}

body {
    background-color: #999999;
}

#wrap {
    background-color: #545649;
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

header {
    background-color: yellow;
    align-content: center;
    text-align: right;
}


nav ul {
    text-align: center;
}

nav ul li {
    background-color: black;
    display: inline-block;
    position: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
}



aside {
    right: 0;
    width: 20%;
    height: 80%;
    display: inline;
    position: absolute;
    background-color: #ffffff;
    background-image: url(http://www.literarygenius.info/images/william-shakespeare.jpg);
    background-size: 400px 200px;
}



#content {
    left: 0;
    width: 80%;
    display: block;
    position: relative;
    background-color: gray;
}


.sonnet li {
    list-style: none;
}

.description {
    word-wrap: break-word;
}