* {
    margin: 0;
}

body {
    background-color: #999999;
}

#wrap {
    background-color: #545649;
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


header h1 {
    background-color: yellow;
    align-content: center;
    text-align: right;
}

nav ul li {
    background-color: black;
    display: inline-block;
    color: #ffffff;
    align-content: center;
}

aside {
    background-color: #ffffff;
    background-image: url(http://www.literarygenius.info/images/william-shakespeare.jpg);
    align: right;
    left-margin: 50%;
}

#content {
    background-color: darkgray;
}