.hover {
    border: 5px black solid;
}

.hover:active {
    border-radius:25%;
}



.active {
    border: 5px black solid;
}

.active:active {
    opacity: 0.5;
}



.focus {
    border: 5px black solid;
}

.focus:active {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}



.bar {
    border: 1px black solid;
    background-color: gray;
    height: 55px;
    width: 100%;
}

@keyframes toms-animation {
    50%  {background-color:yellow; transform: translateX(1350px);}
    100% {background-color:blue; transform: translateX(1350px);}
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.square {
    background-color: cornflowerblue;
    height: 20px;
    width: 20px;
    padding: 7px;
    animation: toms-animation;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}


.square:hover {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



